.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
  box-shadow: 2px 1px 15px 0px #8f8f8f;
  padding: 10px;
  border-radius: 10px;
}

.article-image-container {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  background-image: var(--articleBgImage);
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.article-category {
  margin-right: auto;
  background-color: #264fbe;
  color: white;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.article-headline {
  font-weight: 700;
  font-size: x-large;
}

.article-excerpt {
  width: 100%;
  text-align: left;
}

.article-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  text-align: left;
  font-size: small;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(119, 119, 119);
}

.article-tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-transform: uppercase;
}

.article-tag {
  background-color: rgb(207, 207, 207);
  min-width: 6rem;
  font-size: 10px;
  color: rgb(9, 5, 5);
  border-radius: 5px;
}

