#articles-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 100%;
    margin: 5px;
    // When screen width is greater than or equal to 1024px, 
    // change the layout to a row direction with a gap of 25px
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}